<mat-card>
  <mat-card-title>Novo Produto</mat-card-title>
  <form class="form" #form="ngForm">

    <mat-form-field>
      <input name="name" [(ngModel)]="product.name" matInput placeholder="Nome" type="text" required>
    </mat-form-field>

    <mat-form-field>
      <input name="price" [(ngModel)]="product.price" matInput placeholder="Preço (R$)" type="number" required>
    </mat-form-field>

    <div class="buttons">
      <button mat-raised-button (click)="createProduct()" color="primary" [disabled]="form.invalid">
        Salvar
      </button>
      
      <button mat-raised-button (click)="cancel()" color="accent">
        Cancelar
      </button>
    </div>
  </form>
</mat-card>