.form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 20px;
}

.buttons button {
  width: 250px;
  margin: 5px 10px 0px 0px;
}